{
  "openapi": "3.1.0",
  "info": {
    "title": "Visant Labs Brand Infrastructure API",
    "description": "Public API exposing 37 MCP tools for AI-powered brand generation, mockups, creative studio, and compliance. Authenticate via API key (`visant_sk_*`) or JWT. MCP tools are available under `/api/mcp/tools/*`. Legacy REST endpoints are also included for compatibility.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.visantlabs.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "paths": {
    "/auth/signup": {
      "post": {
        "summary": "Sign up a new user",
        "description": "Create a new account with email and password",
        "tags": [
          "auth"
        ],
        "operationId": "post__auth_signup",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "username": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "User login",
        "description": "Authenticate user and return JWT token",
        "tags": [
          "auth"
        ],
        "operationId": "post__auth_login",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "User logout",
        "description": "User logout",
        "tags": [
          "auth"
        ],
        "operationId": "post__auth_logout",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/profile": {
      "get": {
        "summary": "Get current user profile",
        "description": "Get current user profile",
        "tags": [
          "auth"
        ],
        "operationId": "get__auth_profile",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update user profile",
        "description": "Update user profile",
        "tags": [
          "auth"
        ],
        "operationId": "put__auth_profile",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Refresh JWT token",
        "description": "Refresh JWT token",
        "tags": [
          "auth"
        ],
        "operationId": "post__auth_refresh",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email": {
      "post": {
        "summary": "Verify email address",
        "description": "Verify email address",
        "tags": [
          "auth"
        ],
        "operationId": "post__auth_verify-email",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/mockups": {
      "get": {
        "summary": "List mockups",
        "description": "List mockups",
        "tags": [
          "mockups"
        ],
        "operationId": "get__mockups",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mockups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mockups/generate": {
      "post": {
        "summary": "Generate mockup using AI",
        "description": "Generate product mockup from image using Gemini or Claude AI",
        "tags": [
          "mockups"
        ],
        "operationId": "post__mockups_generate",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "promptText": {
                    "type": "string"
                  },
                  "baseImage": {
                    "type": "string"
                  },
                  "width": {
                    "type": "integer",
                    "default": 800
                  },
                  "height": {
                    "type": "integer",
                    "default": 450
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "hd",
                      "1k",
                      "2k",
                      "4k"
                    ]
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "gemini-2.5-flash-image",
                      "gemini-3.1-flash-image-preview",
                      "gemini-3-pro-image-preview",
                      "seedream-4.5",
                      "seedream-4.0",
                      "gpt-image-2"
                    ]
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "gemini",
                      "seedream",
                      "openai"
                    ],
                    "description": "Image generation provider. Defaults to gemini."
                  }
                },
                "required": [
                  "promptText",
                  "baseImage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mockup generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-rateLimit": {
          "limit": 10,
          "window": "1h"
        }
      }
    },
    "/mockups/{id}": {
      "get": {
        "summary": "Get mockup by ID",
        "description": "Get mockup by ID",
        "tags": [
          "mockups"
        ],
        "operationId": "get__mockups__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mockup details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Mockup not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update mockup",
        "description": "Update mockup",
        "tags": [
          "mockups"
        ],
        "operationId": "put__mockups__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mockup updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete mockup",
        "description": "Delete mockup",
        "tags": [
          "mockups"
        ],
        "operationId": "delete__mockups__id_",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mockup deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/brand-guidelines/public/{slug}": {
      "get": {
        "summary": "Get public brand guideline",
        "description": "Returns full brand guideline data for a public slug. No authentication required.",
        "tags": [
          "brand-guidelines"
        ],
        "operationId": "get__brand-guidelines_public__slug_",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public slug of the brand guideline",
              "example": "acme-corp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand guideline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guideline": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "isPublic": {
                          "type": "boolean"
                        },
                        "publicSlug": {
                          "type": "string"
                        },
                        "identity": {
                          "type": "object"
                        },
                        "colors": {
                          "type": "object"
                        },
                        "typography": {
                          "type": "object"
                        },
                        "logos": {
                          "type": "array"
                        },
                        "guidelines": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Brand guideline not found or not public",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/brand-guidelines/public/{slug}/context": {
      "get": {
        "summary": "Get brand context for LLMs",
        "description": "Returns LLM-ready formatted brand context. Perfect for AI agents and MCP integrations. No authentication required.",
        "tags": [
          "brand-guidelines"
        ],
        "operationId": "get__brand-guidelines_public__slug__context",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Public slug of the brand guideline",
              "example": "acme-corp"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Output format: full (default) or compact (optimized for image gen)",
              "example": "compact"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Response type: text (default) or json",
              "example": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "brandName": {
                      "type": "string"
                    },
                    "format": {
                      "type": "string"
                    },
                    "context": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "colors": {
                          "type": "object"
                        },
                        "typography": {
                          "type": "object"
                        },
                        "guidelines": {
                          "type": "array"
                        },
                        "tokens": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Brand guideline not found or not public",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ai/improve-prompt": {
      "post": {
        "summary": "Improve an image generation prompt",
        "description": "Refine and enhance a prompt to produce better AI image generation results.",
        "tags": [
          "ai"
        ],
        "operationId": "post__ai_improve-prompt",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "The prompt to improve"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Improved prompt text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "improved": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai/generate-smart-prompt": {
      "post": {
        "summary": "Generate an optimized image prompt from structured inputs",
        "description": "Build a high-quality image generation prompt from design type, style tags, colors, and optional brand context.",
        "tags": [
          "ai"
        ],
        "operationId": "post__ai_generate-smart-prompt",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "designType": {
                    "type": "string",
                    "description": "Type of design (e.g. product mockup, social media post)"
                  },
                  "additionalPrompt": {
                    "type": "string"
                  },
                  "aspectRatio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "9:16",
                      "16:9",
                      "4:5"
                    ]
                  },
                  "brandingTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "brandGuidelineId": {
                    "type": "string"
                  },
                  "negativePrompt": {
                    "type": "string"
                  }
                },
                "required": [
                  "designType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated prompt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai/suggest-prompt-variations": {
      "post": {
        "summary": "Generate variations of an existing prompt",
        "description": "Generate variations of an existing prompt",
        "tags": [
          "ai"
        ],
        "operationId": "post__ai_suggest-prompt-variations",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of prompt variations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai/describe-image": {
      "post": {
        "summary": "Describe / extract prompt from an image",
        "description": "Analyze an image and return a detailed description suitable for use as a generation prompt.",
        "tags": [
          "ai"
        ],
        "operationId": "post__ai_describe-image",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "base64": {
                        "type": "string"
                      },
                      "mimeType": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image description / extracted prompt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai/extract-colors": {
      "post": {
        "summary": "Extract dominant color palette from an image",
        "description": "Analyze an image and return hex codes, color names, semantic roles (primary/accent/background/neutral), and frequency.",
        "tags": [
          "ai"
        ],
        "operationId": "post__ai_extract-colors",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "base64": {
                        "type": "string"
                      },
                      "mimeType": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extracted color palette",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "colors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hex": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "primary",
                              "secondary",
                              "accent",
                              "background",
                              "neutral"
                            ]
                          },
                          "frequency": {
                            "type": "string",
                            "enum": [
                              "dominant",
                              "common",
                              "rare"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ai/generate-naming": {
      "post": {
        "summary": "Generate brand or product name suggestions",
        "description": "Generate creative and memorable name suggestions from a brief. Optionally biased by a brand guideline.",
        "tags": [
          "ai"
        ],
        "operationId": "post__ai_generate-naming",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brief": {
                    "type": "string",
                    "description": "Brand or product description"
                  },
                  "count": {
                    "type": "integer",
                    "default": 10,
                    "description": "Number of name suggestions"
                  },
                  "style": {
                    "type": "string",
                    "description": "Naming style (invented word, metaphor, compound, real word)"
                  },
                  "brandGuidelineId": {
                    "type": "string"
                  }
                },
                "required": [
                  "brief"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Name suggestions with rationale",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "rationale": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/branding/generate-step": {
      "post": {
        "summary": "Generate a branding step (persona, archetype, SWOT, colors, moodboard, etc.)",
        "description": "Multi-step branding generation engine. Each step generates a specific brand asset using AI.\nStep values:\n- 1: Market Research — benchmarking paragraph\n- 5: Competitors — competitive landscape\n- 6: References — visual design inspirations\n- 7: SWOT — strengths/weaknesses/opportunities/threats\n- 8: Color Palettes — AI color recommendations with hex codes\n- 9: Visual Elements — icons, patterns, textures\n- 10: Persona — audience persona (demographics, psychographics, pain points)\n- 11: Concept Ideas — product mockup and usage scenarios\n- 12: Moodboard — mood and aesthetic direction\n- 13: Archetypes — brand archetype analysis (Hero, Sage, Lover, Caregiver, etc.)",
        "tags": [
          "branding"
        ],
        "operationId": "post__branding_generate-step",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "step": {
                    "type": "integer",
                    "enum": [
                      1,
                      5,
                      6,
                      7,
                      8,
                      9,
                      10,
                      11,
                      12,
                      13
                    ],
                    "description": "Branding step to generate"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Brand or product brief"
                  },
                  "previousData": {
                    "type": "object",
                    "description": "Prior branding data for context-aware generation (e.g. { marketResearch, swot, colors })"
                  }
                },
                "required": [
                  "step",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated branding step result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mockups/batch-generate": {
      "post": {
        "summary": "Generate multiple mockup images in parallel",
        "description": "Generate up to 20 mockup images in parallel from an array of prompts. All images share the same model and output settings.",
        "tags": [
          "mockups"
        ],
        "operationId": "post__mockups_batch-generate",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of prompts (max 20)"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "gemini",
                      "openai",
                      "seedream"
                    ],
                    "default": "openai"
                  },
                  "model": {
                    "type": "string",
                    "default": "gpt-image-2"
                  },
                  "aspectRatio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "9:16",
                      "16:9",
                      "4:5"
                    ],
                    "default": "1:1"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "1K",
                      "2K",
                      "4K"
                    ],
                    "default": "1K"
                  },
                  "brandGuidelineId": {
                    "type": "string"
                  },
                  "baseImage": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "base64": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "prompts"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch generation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "data": {
                            "type": "object"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugin": {
      "post": {
        "summary": "Execute plugin command",
        "description": "Send a command to the Figma plugin for processing",
        "tags": [
          "plugin"
        ],
        "operationId": "post__plugin",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string"
                  }
                },
                "required": [
                  "command",
                  "fileId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugin/docs": {
      "get": {
        "summary": "Get plugin documentation",
        "description": "Get plugin documentation",
        "tags": [
          "plugin"
        ],
        "operationId": "get__plugin_docs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Plugin documentation (redirects to /docs/plugin)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/plugin/mcp": {
      "get": {
        "summary": "Get MCP specification",
        "description": "Get MCP specification",
        "tags": [
          "plugin"
        ],
        "operationId": "get__plugin_mcp",
        "parameters": [],
        "responses": {
          "200": {
            "description": "MCP tool specifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/create_creative_plan": {
      "post": {
        "operationId": "create_creative_plan",
        "summary": "Generate a structured creative layout (background prompt, overlay, layers) for a marketing asset.",
        "description": "Generate a structured creative layout (background prompt, overlay, layers) for a marketing asset. If brandId is provided, the plan is automatically biased by that brand's learned edit history.",
        "tags": [
          "Creative"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Creative brief / user intent"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "9:16",
                      "16:9",
                      "4:5"
                    ],
                    "description": "Aspect ratio of the creative"
                  },
                  "brandId": {
                    "type": "string",
                    "description": "Optional brand guideline id for brand-aware generation"
                  },
                  "brandContext": {
                    "type": "object",
                    "description": "Inline brand context if brandId is not available",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "colors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "fonts": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "voice": {
                        "type": "string"
                      },
                      "keywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "hasLogos": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": [
                  "prompt",
                  "format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/get_brand_insights": {
      "post": {
        "operationId": "get_brand_insights",
        "summary": "Get learned brand preferences aggregated from user edit history.",
        "description": "Get learned brand preferences aggregated from user edit history. Returns font-size bias, color overrides, logo position bias, commonly removed roles, and human-readable patches. Use this to understand how a brand's actual usage diverges from AI defaults.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string",
                    "description": "Brand guideline id"
                  }
                },
                "required": [
                  "brandId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/list_creative_events": {
      "post": {
        "operationId": "list_creative_events",
        "summary": "Query the raw creative edit event stream (observability).",
        "description": "Query the raw creative edit event stream (observability). Newest first. Filter by brandId or creativeId.",
        "tags": [
          "Creative"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string"
                  },
                  "creativeId": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "number",
                    "default": 100,
                    "maximum": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/get_creative_metrics": {
      "post": {
        "operationId": "get_creative_metrics",
        "summary": "Get aggregate creative metrics (creatives count, avg edits per creative, first-try acceptance rate).",
        "description": "Get aggregate creative metrics (creatives count, avg edits per creative, first-try acceptance rate). Optionally scoped to a brand.",
        "tags": [
          "Creative"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string",
                    "description": "Optional brand filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/list_brand_guidelines": {
      "post": {
        "operationId": "list_brand_guidelines",
        "summary": "List all available brand guidelines with ids and names.",
        "description": "List all available brand guidelines with ids and names.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/get_brand_guideline": {
      "post": {
        "operationId": "get_brand_guideline",
        "summary": "Fetch the full brand guideline for a given id.",
        "description": "Fetch the full brand guideline for a given id. Includes identity, colors, typography, logos, voice, gradients, shadows, motion tokens, borders, strategy, editorial guidelines, and validation state. Use this to get LLM-ready brand context before generating any brand-aware content.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string"
                  }
                },
                "required": [
                  "brandId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/update_brand_guideline": {
      "post": {
        "operationId": "update_brand_guideline",
        "summary": "Patch a brand guideline with new data.",
        "description": "Patch a brand guideline with new data. Accepts any subset of fields: identity, colors, typography, gradients, shadows, motion, borders, strategy, guidelines, tokens, validation. All fields are optional — only provided fields are updated.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string",
                    "description": "Brand guideline id to update"
                  },
                  "data": {
                    "type": "object",
                    "description": "Partial brand guideline data to merge",
                    "properties": {
                      "identity": {
                        "type": "object"
                      },
                      "colors": {
                        "type": "array"
                      },
                      "typography": {
                        "type": "array"
                      },
                      "gradients": {
                        "type": "array"
                      },
                      "shadows": {
                        "type": "array"
                      },
                      "motion": {
                        "type": "object"
                      },
                      "borders": {
                        "type": "array"
                      },
                      "strategy": {
                        "type": "object"
                      },
                      "guidelines": {
                        "type": "object"
                      },
                      "tokens": {
                        "type": "object"
                      },
                      "validation": {
                        "type": "object"
                      },
                      "tags": {
                        "type": "object"
                      }
                    }
                  }
                },
                "required": [
                  "brandId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/validate_brand_section": {
      "post": {
        "operationId": "validate_brand_section",
        "summary": "Mark a brand guideline section as approved or needs_work.",
        "description": "Mark a brand guideline section as approved or needs_work. Section names: colors, typography, logos, identity, strategy, editorial, gradients, shadows, motion, borders, tokens.",
        "tags": [
          "Brand"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "string"
                  },
                  "section": {
                    "type": "string",
                    "description": "Section name to validate"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "needs_work",
                      "pending"
                    ],
                    "description": "Validation state to set"
                  }
                },
                "required": [
                  "brandId",
                  "section",
                  "state"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/improve_prompt": {
      "post": {
        "operationId": "improve_prompt",
        "summary": "Improve and refine an existing image generation prompt to make it more detailed and effective.",
        "description": "Improve and refine an existing image generation prompt to make it more detailed and effective.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "The prompt to improve"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/generate_smart_prompt": {
      "post": {
        "operationId": "generate_smart_prompt",
        "summary": "Generate an optimized image generation prompt from structured inputs (design type, tags, colors, aspect ratio).",
        "description": "Generate an optimized image generation prompt from structured inputs (design type, tags, colors, aspect ratio). Optionally biased by a base image or brand guideline.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "designType": {
                    "type": "string",
                    "description": "Type of design (e.g. product mockup, social media post, banner)"
                  },
                  "additionalPrompt": {
                    "type": "string",
                    "description": "Free-text creative direction to include"
                  },
                  "aspectRatio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "9:16",
                      "16:9",
                      "4:5"
                    ],
                    "default": "1:1"
                  },
                  "brandingTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Brand style tags"
                  },
                  "categoryTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "locationTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "angleTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "lightingTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "effectTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "materialTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "baseImageUrl": {
                    "type": "string",
                    "description": "URL of a reference image"
                  },
                  "brandGuidelineId": {
                    "type": "string",
                    "description": "Brand guideline id for brand-aware prompt"
                  },
                  "negativePrompt": {
                    "type": "string",
                    "description": "Things to exclude from the image"
                  }
                },
                "required": [
                  "designType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/suggest_prompt_variations": {
      "post": {
        "operationId": "suggest_prompt_variations",
        "summary": "Generate multiple creative variations of an existing prompt.",
        "description": "Generate multiple creative variations of an existing prompt.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Base prompt to vary"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/extract_prompt_from_image": {
      "post": {
        "operationId": "extract_prompt_from_image",
        "summary": "Reverse-engineer a descriptive prompt from an image (URL or base64).",
        "description": "Reverse-engineer a descriptive prompt from an image (URL or base64). Useful for replicating a visual style.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "description": "URL of the image to analyze"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "MIME type of the image (default: image/png)",
                    "default": "image/png"
                  }
                },
                "required": [
                  "imageUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/extract_colors": {
      "post": {
        "operationId": "extract_colors",
        "summary": "Extract a dominant color palette from an image (URL or base64).",
        "description": "Extract a dominant color palette from an image (URL or base64). Returns hex codes, color names, semantic roles (primary/accent/etc.) and frequency.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "description": "URL of the image to analyze"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "MIME type (default: image/png)",
                    "default": "image/png"
                  }
                },
                "required": [
                  "imageUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/generate_naming": {
      "post": {
        "operationId": "generate_naming",
        "summary": "Generate creative brand or product name suggestions from a brief.",
        "description": "Generate creative brand or product name suggestions from a brief. Optionally biased by a brand guideline. Returns names with rationale.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brief": {
                    "type": "string",
                    "description": "Description of the brand, product, or concept to name"
                  },
                  "count": {
                    "type": "number",
                    "description": "Number of name suggestions (default: 10)",
                    "default": 10
                  },
                  "style": {
                    "type": "string",
                    "description": "Naming style preference (e.g. invented word, metaphor, compound, real word)"
                  },
                  "brandGuidelineId": {
                    "type": "string",
                    "description": "Brand guideline id for brand-aware naming"
                  }
                },
                "required": [
                  "brief"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/generate_persona": {
      "post": {
        "operationId": "generate_persona",
        "summary": "Generate a detailed audience persona (demographics, psychographics, pain points, motivations) from a brand brief.",
        "description": "Generate a detailed audience persona (demographics, psychographics, pain points, motivations) from a brand brief.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Brand or product brief"
                  },
                  "marketResearch": {
                    "type": "string",
                    "description": "Optional prior market research context"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/generate_archetype": {
      "post": {
        "operationId": "generate_archetype",
        "summary": "Generate brand archetype analysis (Hero, Sage, Lover, Caregiver, etc.",
        "description": "Generate brand archetype analysis (Hero, Sage, Lover, Caregiver, etc.) from a brand brief.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Brand or product brief"
                  },
                  "marketResearch": {
                    "type": "string",
                    "description": "Optional prior market research context"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/generate_concept_ideas": {
      "post": {
        "operationId": "generate_concept_ideas",
        "summary": "Generate creative mockup/usage scenario ideas for a product or brand.",
        "description": "Generate creative mockup/usage scenario ideas for a product or brand.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Brand or product brief"
                  },
                  "previousData": {
                    "type": "object",
                    "description": "Optional prior branding data (persona, colors, archetype) for richer ideas"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "content"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/tools/generate_color_palettes": {
      "post": {
        "operationId": "generate_color_palettes",
        "summary": "Generate AI-recommended color palettes for a brand from a brief and optional SWOT/references context.",
        "description": "Generate AI-recommended color palettes for a brand from a brief and optional SWOT/references context.",
        "tags": [
          "AI Generation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Brand or product brief"
                  },
                  "previousData": {
                    "type": "object",
                    "description": "Optional prior branding data (swot, references)"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
